/* CSS for documentation site */

a {
    color: #219653 !important;
    text-decoration: underline !important;
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
    cursor: pointer;
    color: #166337 !important;
}

h1 {
    margin-top: 32px !important;
}

h2 {
    font-family: 'Playfair Display', Serif !important;
    font-weight: normal !important;
    font-size: 1.8rem !important;
    margin-top: 32px !important;
}